@using Booking_WEB.Data.Entities;
@using System.Security.Claims;
@{
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    string fullName = isAuthenticated ? 
        (Context.User.Claims.First(claim => claim.Type == ClaimTypes.Name).Value + " " +
        Context.User.Claims.First(claim => claim.Type == ClaimTypes.Surname).Value) : "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Booking-WEB</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Booking WEB.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-sm">
            <div class="d-flex justify-content-between">
                <div class="d-flex mt-1">
                    <span>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="header-logo" src="~/resources/images/text.svg"/></a>
                    </span>
                </div>
                <div>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
                        <div class="container-fluid">
                            @if(isAuthenticated)
                            {
                                <div class="login-icon mx-2">@fullName[0]</div>
                                <span class="header-user-name">@fullName</span>
                            }
                            else
                            {
                                <a class="btn btn-outline-light mx-2" asp-controller="User" asp-action="SignUp">Register</a>
                                <a class="btn btn-outline-light" asp-controller="User" asp-action="Login">Sign In</a>
                            }
                        </div>
                    </nav>
                </div>
            </div>
            <nav>
                <nav class="navbar navbar-expand-lg tab-nav">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item mx-2">
                                <button class="nav-link tab-button active" aria-current="page" onclick="deleteTestMethod()"><i class="bi bi-house"></i> Stays</button>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link tab-button" aria-current="page" href="#"><i class="bi bi-airplane"></i> Flights</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </nav>
        </div>
        <div>
            <div class="container header-banner">
                <h1>
                    <span>Find your next stay</span>
                </h1>
                <p>Search deals on hotels, homes, and much more...</p>
            </div>
        </div>
    </header>
    <main>
        <!-- Searchbox -->
        <div>
            <div>
                <div>

                </div>
            </div>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </main>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Booking-WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
