@{

}

<div class="container">
	<div class="d-flex justify-content-center">
		<div class="mt-5">
			<h4>Sign in or create an account</h4>
			<p>You can sign in using your Booking.com account to access out services.</p>
			<form>
				<div class="mb-3">
					<label for="user-email" class="form-label">Email address</label>
					<input type="email" class="form-control" id="user-email" aria-describedby="Email" placeholder="Enter your email address">
				</div>
				<div class="mb-3">
					<label for="user-login" class="form-label">Login</label>
					<input type="text" class="form-control" id="user-login" aria-describedby="Login" placeholder="Enter your login">
				</div>
				<div class="mb-3">
					<label for="user-birthdate" class="form-label">Date of birth</label>
					<input type="date" class="form-control" id="user-birthdate" aria-describedby="Birthdate" placeholder="Enter your birthdate">
				</div>
				<div class="mb-3">
					<label for="user-password" class="form-label">Password</label>
					<input type="password" class="form-control" id="user-password" aria-describedby="Password" placeholder="Enter your password">
				</div>
			</form>
			<button class="btn btn-primary continue-button">Continue</button>
		</div>
	</div>
</div>